@import url("https://fonts.googleapis.com/css?family=Questrial&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}
:root {
  --sky_blue_color: #dff6ff;
  --dark_blue_color: #06283d;
  --blue_color: #1363df;
  --faded_blue_color: #47b5ff;
  --text_color: #f9f9f9;
  --btn_color: #f7f5f2;
}

figure {
  font-family: "Questrial", sans-serif;
  background-color: var(--dark_blue_color);
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  padding-block: 3rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

h1 {
  color: var(--text_color);
  font-size: 3rem;
}

.screen {
  cursor: pointer;
  width: 70%;
  height: 100%;
  background-color: #000;
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.controls_div {
  color: var(--btn_color);
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translateX(-50%);
}

.controls {
  width: 60%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 1.6rem;
}

.controls input[type="range"] {
  width: 100%;
  accent-color: var(--faded_blue_color);
  color: red;
  background: green;
  height: 0.5rem;
  cursor: pointer;
}

.timestamp_div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.6rem;
}

.timestamp_div span {
  font-size: 1.6rem;
}

.controls_div .btn{
    border:0;
    color:var(--btn_color);
    background: var(--dark_blue_color);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    font-size:1.6rem;
    cursor: pointer;
}